@import url('https://fonts.googleapis.com/css2?family=Gayathri&family=Montserrat&display=swap');

/* Full page css */
html{
    font-family: 'Montserrat', sans-serif;
    }
    body{
        margin: 0;
    }
/* a:visited{ 
    color: tomato;
}*/
.button{
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}
/* .my-form input[type="submit"]{ 
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
}*/
.button:hover{
    background-color: #fff;
    color: #111;
    border: 1px solid #222;
}
    
    /* Header css */
header{
    background: linear-gradient(90deg, rgba(29,89,236,1) 1%, rgba(0,255,93,1) 100%);
    margin: 0;
    padding-bottom: 20px;
    }
#logo-top{
        border: 2px solid white;
    }
    
    /* MainNav css */
#main-nav{ 
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 3em;
    text-align: center;
}
#main-nav li{
    display: inline;
    padding: 10px;    
}
#main-nav li a{
    text-decoration: none;
    color: black;
}
#main-nav li:hover{
    border: 1px dotted black;
    border-radius: 10%;
    background-color: white;
}
/* Main css */
main{
    margin: 30px;
}
.h1-top{
    text-transform: uppercase;
    font-weight: 800;
}
p{
    color: red;
}


.block{
    float: left;
    width: 33.3%;
    border: 1px solid 10px;
    box-sizing: border-box;
}
/* Contact form css  */
/*  
.my-form{
    padding: 20px;

}
.my-form .form-group{
    padding-bottom: 15px;
}
.my-form label{
    display: block;
}
.my-form input[type="text"], .my-form textarea{
    padding: 8px;
    width: 100%;
}*/


/* Footer css */
footer{
    background: linear-gradient(90deg, rgba(0,255,93,1) 1%, rgba(29,89,236,1) 100%);
    

}

